

  .div_corner {
    width: calc(100% - 80%);
    align-items: center !important;
    display: flex;
    justify-content: flex-end;
  }


  .container_header {
    height: calc(100% - 80%);
    display: flex;
    justify-content: center;
    top: 0;
    margin-top: 0;
  }

  .checked {
    input {
      background-color: var(--primaryColor);
    }
  }
  .checked {
    width: 25%;
  }

  .divmodal {
    height: calc(100% - 35px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .divmodalContent {
      position: absolute;
      bottom: 8px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      border-top: 2px solid #e2e8f2;
      button {
        background: #00b2a6;
        color: white;
        border-radius: 5px;
        height: 30px;
        width: 100px;
        margin: 2.5% 5% 0 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .user,
    .pass,
    .btn,
    .checked {
      width: 90%;
    }
  }

::-ms-reveal {
  display: none;
}
