@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
}

::-ms-reveal {
  display: none;
}

.slick-prev:before,
.slick-next:before {
  color: var(--primaryColor);
  font-size: 20px;
}

:root {
  --primaryColor: #00b2a6;
  --secondaryColor: #00a095;
  --tertiaryColor: #0d756e;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 9999px var(--primaryColor) inset;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

button{
  outline: none;
}

.color-p {
  color: #00b2a6;
}

.shadow {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.16);
}

.bg-primaryColor {
  background-color: var(--primaryColor);
}

.p-16 {
  padding: 5rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  background-color: #fff;
}

/*Deixa os fundo de todas as telas brancos*/
.p-6 {
  background-color: #fff;
  padding-top: 0px;
}

.css-wtm76v {
  height: calc(100% - 60px) !important;
}

.ps-menuitem-root {
  background-color: var(--primaryColor) !important;
  color: #fff;
  font-size: 14px;
}
.css-16jesut > .ps-menu-button:hover {
  background-color: var(--secondaryColor) !important;
}

.css-1tqrhto > .ps-menu-button {
  background-color: var(--secondaryColor) !important;
  font-size: 14px;
}
.css-1tqrhto > .ps-menu-button:hover {
  background-color: var(--tertiaryColor) !important;
}

/*estilização scrollbar*/
::-webkit-scrollbar {
  display: block;
  width: 4px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background-color: rgb(187, 187, 187);
  border-radius: 5px;
}

.css-8i0j0q {
  background-color: transparent !important;
}
.css-wx51e4.ps-broken {
  top: auto !important;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
    width: 0px;
    height: 2px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    width: 0px;
    height: 0px;
    background-color: transparent;
  }
}
